USE [master]
GO
/****** Object:  Database [ECourseWeb]    Script Date: 6/5/2025 12:03:41 AM ******/
CREATE DATABASE [ECourseWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ECourseWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ECourseWeb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ECourseWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ECourseWeb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ECourseWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ECourseWeb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/5/2025 12:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 6/5/2025 12:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionId] [int] NULL,
	[AnswerText] [nvarchar](max) NOT NULL,
	[IsCorrect] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 6/5/2025 12:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6/5/2025 12:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6/5/2025 12:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6/5/2025 12:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6/5/2025 12:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6/5/2025 12:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Avatar] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[IsVerified] [bit] NOT NULL,
	[VerificationToken] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 6/5/2025 12:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [int] NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/5/2025 12:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certificates]    Script Date: 6/5/2025 12:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EnrollmentId] [int] NOT NULL,
	[IssueDate] [datetime2](7) NOT NULL,
	[CertificateNumber] [nvarchar](max) NULL,
	[CertificateUrl] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapters]    Script Date: 6/5/2025 12:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CreateBy] [int] NOT NULL,
	[UpdateBy] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 6/5/2025 12:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LessonId] [int] NOT NULL,
	[UserId] [int] NULL,
	[ParentCommentId] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDelete] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 6/5/2025 12:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[CategoryId] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Thumbnail] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Duration] [time](7) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[PreviewVideo] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[LimitDay] [int] NULL,
	[CreateBy] [int] NOT NULL,
	[UpdateBy] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 6/5/2025 12:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[DiscountPer] [decimal](18, 2) NOT NULL,
	[MaxUses] [int] NOT NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CreateBy] [int] NOT NULL,
	[UpdateBy] [int] NULL,
	[CourseId] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 6/5/2025 12:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[EnrollmentDate] [datetime2](7) NOT NULL,
	[Progress] [float] NOT NULL,
	[Status] [int] NOT NULL,
	[ExpiredDate] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Finances]    Script Date: 6/5/2025 12:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Finances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Month] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[Revenue] [float] NOT NULL,
	[Fee] [float] NOT NULL,
	[Type] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedBy] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LessonProgresses]    Script Date: 6/5/2025 12:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LessonProgresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LessonId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[ProgressPercentage] [real] NOT NULL,
	[TimeSpent] [real] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[Status] [nvarchar](max) NULL,
	[Passing] [int] NULL,
	[CountDoing] [int] NULL,
	[HighestMark] [real] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 6/5/2025 12:03:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChapterId] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[VideoUrl] [nvarchar](500) NULL,
	[Duration] [int] NULL,
	[OrderIndex] [int] NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CreateBy] [int] NOT NULL,
	[UpdateBy] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250302024508_AddDB', N'8.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250310114731_realtion_lesson', N'8.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250311023631_add_verifyEmail_User', N'8.0.7')
GO
SET IDENTITY_INSERT [dbo].[Answers] ON 

INSERT [dbo].[Answers] ([Id], [QuestionId], [AnswerText], [IsCorrect]) VALUES (1022, 1012, N'a', 1)
INSERT [dbo].[Answers] ([Id], [QuestionId], [AnswerText], [IsCorrect]) VALUES (1023, 1012, N'b', 0)
INSERT [dbo].[Answers] ([Id], [QuestionId], [AnswerText], [IsCorrect]) VALUES (1024, 1012, N'c', 0)
SET IDENTITY_INSERT [dbo].[Answers] OFF
GO
SET IDENTITY_INSERT [dbo].[AspNetRoles] ON 

INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (1, N'Admin', N'ADMIN', N'3BFF72D6-BE45-433B-B64F-5A71F437B1F7')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (2, N'Instructor', N'INSTRUCTOR', N'81F0E042-BC5F-4A40-A3C4-A935CBB0C3AD')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (3, N'Student', N'STUDENT', N'26C5D2FB-F942-4B2C-810E-9DBB59921988')
SET IDENTITY_INSERT [dbo].[AspNetRoles] OFF
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (1, 1)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (2, 2)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[AspNetUsers] ON 

SET IDENTITY_INSERT [dbo].[AspNetUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Description], [Status]) VALUES (1, N'Kiến thức cơ sở', N'Lập trình cùng tvcdev', 1)
INSERT [dbo].[Categories] ([Id], [Name], [Description], [Status]) VALUES (2, N'test', N'test', 1)
INSERT [dbo].[Categories] ([Id], [Name], [Description], [Status]) VALUES (3, N'Kiến Thức Nâng Cao', N'Kiến Thức Nâng Cao', 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Certificates] ON 

INSERT [dbo].[Certificates] ([Id], [EnrollmentId], [IssueDate], [CertificateNumber], [CertificateUrl]) VALUES (14, 4, CAST(N'2025-03-27T17:17:42.2013635' AS DateTime2), N'21202cda-3642-4d60-9d72-e7584048a9fe', N'https://elearningcourse.blob.core.windows.net/web/Certificate_4_638786926603997684.pdf')
INSERT [dbo].[Certificates] ([Id], [EnrollmentId], [IssueDate], [CertificateNumber], [CertificateUrl]) VALUES (15, 16, CAST(N'2025-06-04T00:39:52.2042263' AS DateTime2), N'e8e72610-af31-43c7-8198-e03d7017f22f', NULL)
SET IDENTITY_INSERT [dbo].[Certificates] OFF
GO
SET IDENTITY_INSERT [dbo].[Chapters] ON 

INSERT [dbo].[Chapters] ([Id], [CourseId], [Name], [Description], [Status], [CreatedAt], [UpdatedAt], [CreateBy], [UpdateBy]) VALUES (1004, 1012, N'Khái niệm ký thuật cần biết 1', NULL, N'Active', CAST(N'2025-02-26T16:54:38.0000000' AS DateTime2), CAST(N'2025-03-28T14:04:46.0698056' AS DateTime2), 2, 1)
INSERT [dbo].[Chapters] ([Id], [CourseId], [Name], [Description], [Status], [CreatedAt], [UpdatedAt], [CreateBy], [UpdateBy]) VALUES (1005, 1012, N'Khái niệm ký thuật cần biết 2', NULL, N'Active', CAST(N'2025-03-23T17:47:40.2966667' AS DateTime2), CAST(N'2025-03-28T14:04:46.1282229' AS DateTime2), 1, 1)
INSERT [dbo].[Chapters] ([Id], [CourseId], [Name], [Description], [Status], [CreatedAt], [UpdatedAt], [CreateBy], [UpdateBy]) VALUES (1007, 1012, N'Kĩ thuật cần biết 3', NULL, N'Active', CAST(N'2025-03-27T16:08:28.3900000' AS DateTime2), CAST(N'2025-03-28T14:04:46.1749791' AS DateTime2), 1, 1)
SET IDENTITY_INSERT [dbo].[Chapters] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([Id], [Title], [CategoryId], [Price], [Thumbnail], [Description], [Duration], [Status], [PreviewVideo], [CreatedAt], [UpdatedAt], [LimitDay], [CreateBy], [UpdateBy]) VALUES (1012, N'Nhập môn kỹ thuật lập trình', 1, 0, N'/images/courses/e33c575d-49f0-4570-b731-f541bc42b144.jpg', N'Learn to develop', NULL, N'Published', N'https://youtu.be/HacTvjmjFDI?si=bYJD5wcMcWupuFr3', CAST(N'2024-10-19T07:48:22.5669261' AS DateTime2), CAST(N'2025-06-04T00:10:26.4200000' AS DateTime2), 30, 2, 1)
INSERT [dbo].[Courses] ([Id], [Title], [CategoryId], [Price], [Thumbnail], [Description], [Duration], [Status], [PreviewVideo], [CreatedAt], [UpdatedAt], [LimitDay], [CreateBy], [UpdateBy]) VALUES (1017, N'Nhập môn kỹ thuật lập trình', 1, 100000, N'/images/courses/65014b14-dd00-430d-933a-28f6d7c9f902.png', N'Learn to develop', NULL, N'Published', N'https://youtu.be/vTkTS69Vvxw?si=_cmK5rVTjKbhuORv', CAST(N'2024-10-19T07:48:22.5669261' AS DateTime2), CAST(N'2025-06-04T00:37:29.9866667' AS DateTime2), 30, 2, 1)
INSERT [dbo].[Courses] ([Id], [Title], [CategoryId], [Price], [Thumbnail], [Description], [Duration], [Status], [PreviewVideo], [CreatedAt], [UpdatedAt], [LimitDay], [CreateBy], [UpdateBy]) VALUES (1018, N'Nhập môn kỹ thuật lập trình', 1, 100000, N'https://elearningcourse.blob.core.windows.net/web/7.png', N'Learn to develop', NULL, N'Published', N'https://elearningcourse.blob.core.windows.net/web/Domain_la_gi.mp4', CAST(N'2024-10-19T07:48:22.5669261' AS DateTime2), CAST(N'2024-10-19T07:48:22.5669261' AS DateTime2), 30, 2, 2)
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Discounts] ON 

INSERT [dbo].[Discounts] ([Id], [Code], [DiscountPer], [MaxUses], [StartDate], [EndDate], [CreatedAt], [UpdatedAt], [CreateBy], [UpdateBy], [CourseId]) VALUES (1, N'SUMMER2024', CAST(10.00 AS Decimal(18, 2)), 10, CAST(N'2025-05-06T09:59:00.0000000' AS DateTime2), CAST(N'2025-06-06T09:59:00.0000000' AS DateTime2), CAST(N'2025-05-29T09:59:31.8040605' AS DateTime2), NULL, 1, NULL, 1017)
SET IDENTITY_INSERT [dbo].[Discounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([Id], [UserId], [CourseId], [EnrollmentDate], [Progress], [Status], [ExpiredDate]) VALUES (4, 1023, 1012, CAST(N'2025-03-23T22:32:25.0000000' AS DateTime2), 100, 3, CAST(N'2025-05-15T22:32:35.0000000' AS DateTime2))
INSERT [dbo].[Enrollments] ([Id], [UserId], [CourseId], [EnrollmentDate], [Progress], [Status], [ExpiredDate]) VALUES (5, 1023, 1017, CAST(N'2025-03-18T16:00:53.0000000' AS DateTime2), 0, 2, CAST(N'2025-03-19T16:01:02.0000000' AS DateTime2))
INSERT [dbo].[Enrollments] ([Id], [UserId], [CourseId], [EnrollmentDate], [Progress], [Status], [ExpiredDate]) VALUES (13, 1023, 1019, CAST(N'2025-03-28T14:15:55.4477746' AS DateTime2), 0, 1, CAST(N'2025-04-27T14:15:55.4478091' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[Finances] ON 

INSERT [dbo].[Finances] ([Id], [Month], [Year], [Revenue], [Fee], [Type], [Description], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (1, 5, 2025, 100000, 0, N'Course Sale', N'Course Purchase', CAST(N'2025-05-29T16:12:45.4889386' AS DateTime2), CAST(N'2025-05-29T16:12:45.4889386' AS DateTime2), N'student@elearning.com', N'student@elearning.com')
INSERT [dbo].[Finances] ([Id], [Month], [Year], [Revenue], [Fee], [Type], [Description], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (2, 5, 2025, 100000, 0, N'Course Sale', N'Course Purchase', CAST(N'2025-05-29T16:14:37.3105178' AS DateTime2), CAST(N'2025-05-29T16:14:37.3105178' AS DateTime2), N'student@elearning.com', N'student@elearning.com')
INSERT [dbo].[Finances] ([Id], [Month], [Year], [Revenue], [Fee], [Type], [Description], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (3, 5, 2025, 2000, 0, N'Course Sale', N'Course Purchase', CAST(N'2025-05-29T16:59:53.3609319' AS DateTime2), CAST(N'2025-05-29T16:59:53.3609319' AS DateTime2), N'student@elearning.com', N'student@elearning.com')
SET IDENTITY_INSERT [dbo].[Finances] OFF
GO
SET IDENTITY_INSERT [dbo].[LessonProgresses] ON 

INSERT [dbo].[LessonProgresses] ([Id], [LessonId], [UserId], [ProgressPercentage], [TimeSpent], [CreatedAt], [UpdatedAt], [Status], [Passing], [CountDoing], [HighestMark]) VALUES (1002, 3, 1023, 30, 10, CAST(N'2025-03-25T15:47:09.8559186' AS DateTime2), CAST(N'2025-05-29T13:59:05.0809442' AS DateTime2), N'In Progress', 1, 7, 100)
INSERT [dbo].[LessonProgresses] ([Id], [LessonId], [UserId], [ProgressPercentage], [TimeSpent], [CreatedAt], [UpdatedAt], [Status], [Passing], [CountDoing], [HighestMark]) VALUES (1003, 1028, 1023, 0, 0, CAST(N'2025-03-26T16:26:05.4701395' AS DateTime2), CAST(N'2025-03-26T16:26:05.4701830' AS DateTime2), NULL, 1, 11, 10)
INSERT [dbo].[LessonProgresses] ([Id], [LessonId], [UserId], [ProgressPercentage], [TimeSpent], [CreatedAt], [UpdatedAt], [Status], [Passing], [CountDoing], [HighestMark]) VALUES (1004, 1032, 1023, 2.390519, 0, CAST(N'2025-03-26T18:19:02.3835707' AS DateTime2), CAST(N'2025-03-26T18:19:02.3835756' AS DateTime2), NULL, 1, 5, NULL)
SET IDENTITY_INSERT [dbo].[LessonProgresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Lessons] ON 

INSERT [dbo].[Lessons] ([Id], [ChapterId], [Title], [Description], [Content], [VideoUrl], [Duration], [OrderIndex], [Type], [Status], [CreatedAt], [UpdatedAt], [CreateBy], [UpdateBy]) VALUES (1, 1004, N'Giới thiệu về lập trình', N'Bài học giới thiệu tổng quan về lập trình', N'Nội dung bài học về giới thiệu lập trình', N'https://youtu.be/HacTvjmjFDI', 30, 1, N'Video', N'Active', CAST(N'2025-03-01T00:00:00.0000000' AS DateTime2), NULL, 2, NULL)
INSERT [dbo].[Lessons] ([Id], [ChapterId], [Title], [Description], [Content], [VideoUrl], [Duration], [OrderIndex], [Type], [Status], [CreatedAt], [UpdatedAt], [CreateBy], [UpdateBy]) VALUES (2, 1004, N'Cài đặt môi trường', N'Hướng dẫn cài đặt môi trường lập trình', N'Nội dung hướng dẫn cài đặt các công cụ cần thiết', N'https://youtu.be/vTkTS69Vvxw', 45, 2, N'Video', N'Active', CAST(N'2025-03-01T00:00:00.0000000' AS DateTime2), NULL, 2, NULL)
INSERT [dbo].[Lessons] ([Id], [ChapterId], [Title], [Description], [Content], [VideoUrl], [Duration], [OrderIndex], [Type], [Status], [CreatedAt], [UpdatedAt], [CreateBy], [UpdateBy]) VALUES (3, 1005, N'Biến và kiểu dữ liệu', N'Học về biến và các kiểu dữ liệu cơ bản', N'Nội dung về biến và kiểu dữ liệu trong lập trình', N'https://youtu.be/DoGPB3E2m-Q', 40, 1, N'Video', N'Active', CAST(N'2025-03-02T00:00:00.0000000' AS DateTime2), NULL, 2, NULL)
SET IDENTITY_INSERT [dbo].[Lessons] OFF
GO
ALTER TABLE [dbo].[Certificates] ADD  DEFAULT (getdate()) FOR [IssueDate]
GO
ALTER TABLE [dbo].[Chapters] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Discounts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Discounts] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (getdate()) FOR [EnrollmentDate]
GO
ALTER TABLE [dbo].[Finances] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Finances] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[LessonProgresses] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_AspNetUsers_UserId]
GO
USE [master]
GO
USE [ECourseWeb]
GO

/* Quiz module - added for lesson multiple-choice tests */
IF COL_LENGTH('dbo.Lessons', 'Id') IS NULL
BEGIN
	RAISERROR('Khong tim thay cot Lessons.Id. Vui long kiem tra lai schema cua bang Lessons.', 16, 1);
	RETURN;
END
GO

/* Ensure Lessons.Id is a candidate key so FK_Quizzes_Lessons_LessonId can be created */
IF NOT EXISTS
(
	SELECT 1
	FROM sys.indexes i
	INNER JOIN sys.index_columns ic ON ic.object_id = i.object_id AND ic.index_id = i.index_id
	INNER JOIN sys.columns c ON c.object_id = ic.object_id AND c.column_id = ic.column_id
	WHERE i.object_id = OBJECT_ID('dbo.Lessons')
	  AND (i.is_primary_key = 1 OR i.is_unique = 1)
	  AND i.is_hypothetical = 0
	  AND c.name = 'Id'
)
BEGIN
	IF EXISTS (SELECT 1 FROM dbo.Lessons WHERE Id IS NULL)
	BEGIN
		RAISERROR('Lessons.Id co gia tri NULL, khong the tao unique key cho FK.', 16, 1);
		RETURN;
	END

	IF EXISTS (SELECT Id FROM dbo.Lessons GROUP BY Id HAVING COUNT(*) > 1)
	BEGIN
		RAISERROR('Lessons.Id bi trung lap, khong the tao unique key cho FK. Vui long xu ly du lieu trung truoc.', 16, 1);
		RETURN;
	END

	ALTER TABLE dbo.Lessons
	ADD CONSTRAINT UQ_Lessons_Id_ForQuizFK UNIQUE (Id);
END
GO

IF OBJECT_ID('dbo.Quizzes', 'U') IS NULL
BEGIN
	CREATE TABLE dbo.Quizzes
	(
		Id INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
		LessonId INT NOT NULL,
		Title NVARCHAR(255) NOT NULL,
		PassPercent INT NOT NULL CONSTRAINT DF_Quizzes_PassPercent DEFAULT(80),
		IsActive BIT NOT NULL CONSTRAINT DF_Quizzes_IsActive DEFAULT(1),
		CreatedAt DATETIME2 NOT NULL CONSTRAINT DF_Quizzes_CreatedAt DEFAULT(SYSDATETIME()),
		UpdatedAt DATETIME2 NULL,
		CONSTRAINT UQ_Quizzes_LessonId UNIQUE(LessonId),
		CONSTRAINT FK_Quizzes_Lessons_LessonId FOREIGN KEY(LessonId) REFERENCES dbo.Lessons(Id) ON DELETE CASCADE
	);
END
GO

IF OBJECT_ID('dbo.QuizQuestions', 'U') IS NULL
BEGIN
	CREATE TABLE dbo.QuizQuestions
	(
		Id INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
		QuizId INT NOT NULL,
		Content NVARCHAR(MAX) NOT NULL,
		OrderIndex INT NOT NULL CONSTRAINT DF_QuizQuestions_OrderIndex DEFAULT(1),
		Score INT NOT NULL CONSTRAINT DF_QuizQuestions_Score DEFAULT(1),
		CreatedAt DATETIME2 NOT NULL CONSTRAINT DF_QuizQuestions_CreatedAt DEFAULT(SYSDATETIME()),
		UpdatedAt DATETIME2 NULL,
		CONSTRAINT FK_QuizQuestions_Quizzes_QuizId FOREIGN KEY(QuizId) REFERENCES dbo.Quizzes(Id) ON DELETE CASCADE
	);
END
GO

IF OBJECT_ID('dbo.QuizAnswers', 'U') IS NULL
BEGIN
	CREATE TABLE dbo.QuizAnswers
	(
		Id INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
		QuestionId INT NOT NULL,
		AnswerText NVARCHAR(MAX) NOT NULL,
		IsCorrect BIT NOT NULL CONSTRAINT DF_QuizAnswers_IsCorrect DEFAULT(0),
		OrderIndex INT NOT NULL CONSTRAINT DF_QuizAnswers_OrderIndex DEFAULT(1),
		CreatedAt DATETIME2 NOT NULL CONSTRAINT DF_QuizAnswers_CreatedAt DEFAULT(SYSDATETIME()),
		CONSTRAINT FK_QuizAnswers_QuizQuestions_QuestionId FOREIGN KEY(QuestionId) REFERENCES dbo.QuizQuestions(Id) ON DELETE CASCADE
	);
END
GO

IF OBJECT_ID('dbo.QuizAttempts', 'U') IS NULL
BEGIN
	CREATE TABLE dbo.QuizAttempts
	(
		Id INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
		QuizId INT NOT NULL,
		UserId INT NOT NULL,
		StartedAt DATETIME2 NOT NULL CONSTRAINT DF_QuizAttempts_StartedAt DEFAULT(SYSDATETIME()),
		SubmittedAt DATETIME2 NULL,
		TotalQuestions INT NOT NULL,
		CorrectAnswers INT NOT NULL,
		ScorePercent REAL NOT NULL,
		Passed BIT NOT NULL,
		CONSTRAINT FK_QuizAttempts_Quizzes_QuizId FOREIGN KEY(QuizId) REFERENCES dbo.Quizzes(Id) ON DELETE CASCADE,
		CONSTRAINT FK_QuizAttempts_AspNetUsers_UserId FOREIGN KEY(UserId) REFERENCES dbo.AspNetUsers(Id)
	);
END
GO

IF OBJECT_ID('dbo.QuizAttemptAnswers', 'U') IS NULL
BEGIN
	CREATE TABLE dbo.QuizAttemptAnswers
	(
		Id INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
		AttemptId INT NOT NULL,
		QuestionId INT NOT NULL,
		SelectedAnswerId INT NULL,
		IsCorrect BIT NOT NULL,
		CONSTRAINT FK_QuizAttemptAnswers_QuizAttempts_AttemptId FOREIGN KEY(AttemptId) REFERENCES dbo.QuizAttempts(Id) ON DELETE CASCADE,
		CONSTRAINT FK_QuizAttemptAnswers_QuizQuestions_QuestionId FOREIGN KEY(QuestionId) REFERENCES dbo.QuizQuestions(Id),
		CONSTRAINT FK_QuizAttemptAnswers_QuizAnswers_SelectedAnswerId FOREIGN KEY(SelectedAnswerId) REFERENCES dbo.QuizAnswers(Id)
	);
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_QuizQuestions_QuizId' AND object_id = OBJECT_ID('dbo.QuizQuestions'))
	CREATE INDEX IX_QuizQuestions_QuizId ON dbo.QuizQuestions(QuizId);
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_QuizAnswers_QuestionId' AND object_id = OBJECT_ID('dbo.QuizAnswers'))
	CREATE INDEX IX_QuizAnswers_QuestionId ON dbo.QuizAnswers(QuestionId);
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_QuizAttempts_QuizId_UserId' AND object_id = OBJECT_ID('dbo.QuizAttempts'))
	CREATE INDEX IX_QuizAttempts_QuizId_UserId ON dbo.QuizAttempts(QuizId, UserId);
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_QuizAttemptAnswers_AttemptId' AND object_id = OBJECT_ID('dbo.QuizAttemptAnswers'))
	CREATE INDEX IX_QuizAttemptAnswers_AttemptId ON dbo.QuizAttemptAnswers(AttemptId);
GO
GO
-- ===== LIVE CLASS FEATURE (Phase 4) =====
-- Add LiveClassId column to Lessons table
ALTER TABLE [dbo].[Lessons] ADD [LiveClassId] [int] NULL;
GO

-- Create LiveClasses table
IF OBJECT_ID('dbo.LiveClasses', 'U') IS NULL
BEGIN
	CREATE TABLE dbo.LiveClasses
	(
		Id INT IDENTITY(1, 1) NOT NULL PRIMARY KEY,
		CourseId INT NOT NULL,
		LessonId INT NULL,
		Title NVARCHAR(200) NOT NULL,
		Description NVARCHAR(2000) NULL,
		ScheduledDateTime DATETIME2 NOT NULL,
		DurationMinutes INT NULL,
		MaxParticipants INT NULL,
		ZoomMeetingId NVARCHAR(100) NULL,
		JoinUrl NVARCHAR(MAX) NULL,
		StartUrl NVARCHAR(MAX) NULL,
		RecordingUrl NVARCHAR(MAX) NULL,
		RecordingDurationSeconds BIGINT NULL,
		Status NVARCHAR(20) NOT NULL DEFAULT 'Scheduled',
		IsRecordingEnabled BIT NOT NULL DEFAULT 1,
		IsRecordingPublic BIT NOT NULL DEFAULT 1,
		ActualStartTime DATETIME2 NULL,
		ActualEndTime DATETIME2 NULL,
		InstructorId INT NOT NULL,
		CreatedAt DATETIME2 NOT NULL,
		UpdatedAt DATETIME2 NULL,
		CONSTRAINT FK_LiveClasses_Courses_CourseId FOREIGN KEY (CourseId) REFERENCES dbo.Courses(Id) ON DELETE CASCADE,
		CONSTRAINT FK_LiveClasses_AspNetUsers_InstructorId FOREIGN KEY (InstructorId) REFERENCES dbo.AspNetUsers(Id),
		CONSTRAINT FK_LiveClasses_Lessons_LessonId FOREIGN KEY (LessonId) REFERENCES dbo.Lessons(Id) ON DELETE SET NULL
	);
END
GO

-- Create LiveClassAttendances table
IF OBJECT_ID('dbo.LiveClassAttendances', 'U') IS NULL
BEGIN
	CREATE TABLE dbo.LiveClassAttendances
	(
		Id INT IDENTITY(1, 1) NOT NULL PRIMARY KEY,
		LiveClassId INT NOT NULL,
		UserId INT NOT NULL,
		JoinedAt DATETIME2 NULL,
		LeftAt DATETIME2 NULL,
		DurationMinutes INT NULL,
		Status NVARCHAR(20) NOT NULL DEFAULT 'Pending',
		CreatedAt DATETIME2 NOT NULL,
		UpdatedAt DATETIME2 NULL,
		CONSTRAINT FK_LiveClassAttendances_LiveClasses_LiveClassId FOREIGN KEY (LiveClassId) REFERENCES dbo.LiveClasses(Id) ON DELETE CASCADE,
		CONSTRAINT FK_LiveClassAttendances_AspNetUsers_UserId FOREIGN KEY (UserId) REFERENCES dbo.AspNetUsers(Id) ON DELETE CASCADE
	);
END
GO

-- Create LiveClassRecordings table
IF OBJECT_ID('dbo.LiveClassRecordings', 'U') IS NULL
BEGIN
	CREATE TABLE dbo.LiveClassRecordings
	(
		Id INT IDENTITY(1, 1) NOT NULL PRIMARY KEY,
		LiveClassId INT NOT NULL,
		ExternalRecordingId NVARCHAR(100) NULL,
		RecordingUrl NVARCHAR(MAX) NOT NULL,
		DownloadUrl NVARCHAR(MAX) NULL,
		DurationSeconds BIGINT NULL,
		FileSizeBytes BIGINT NULL,
		Format NVARCHAR(20) NULL,
		IsPublic BIT NOT NULL DEFAULT 1,
		IsDownloadable BIT NOT NULL DEFAULT 0,
		ExpiresAt DATETIME2 NULL,
		Provider NVARCHAR(50) NULL DEFAULT 'Zoom',
		TranscriptUrl NVARCHAR(MAX) NULL,
		ThumbnailUrl NVARCHAR(MAX) NULL,
		Status NVARCHAR(20) NOT NULL DEFAULT 'Processing',
		AvailableAt DATETIME2 NULL,
		CreatedAt DATETIME2 NOT NULL,
		UpdatedAt DATETIME2 NULL,
		CONSTRAINT FK_LiveClassRecordings_LiveClasses_LiveClassId FOREIGN KEY (LiveClassId) REFERENCES dbo.LiveClasses(Id) ON DELETE CASCADE
	);
END
GO

-- Create indexes for performance
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_Lessons_LiveClassId' AND object_id = OBJECT_ID('dbo.Lessons'))
	CREATE INDEX IX_Lessons_LiveClassId ON dbo.Lessons(LiveClassId);

IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_LiveClasses_CourseId' AND object_id = OBJECT_ID('dbo.LiveClasses'))
	CREATE INDEX IX_LiveClasses_CourseId ON dbo.LiveClasses(CourseId);

IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_LiveClasses_InstructorId' AND object_id = OBJECT_ID('dbo.LiveClasses'))
	CREATE INDEX IX_LiveClasses_InstructorId ON dbo.LiveClasses(InstructorId);

IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_LiveClasses_ScheduledDateTime' AND object_id = OBJECT_ID('dbo.LiveClasses'))
	CREATE INDEX IX_LiveClasses_ScheduledDateTime ON dbo.LiveClasses(ScheduledDateTime);

IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_LiveClassAttendances_LiveClassId_UserId' AND object_id = OBJECT_ID('dbo.LiveClassAttendances'))
	CREATE UNIQUE INDEX IX_LiveClassAttendances_LiveClassId_UserId ON dbo.LiveClassAttendances(LiveClassId, UserId);

IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_LiveClassRecordings_LiveClassId' AND object_id = OBJECT_ID('dbo.LiveClassRecordings'))
	CREATE INDEX IX_LiveClassRecordings_LiveClassId ON dbo.LiveClassRecordings(LiveClassId);
GO

PRINT 'Live Class Feature tables created successfully!';
-- ===== LIVE CLASS FEATURE (Phase 4) =====
-- Add LiveClassId column to Lessons table
ALTER TABLE [dbo].[Lessons] ADD [LiveClassId] [int] NULL;
GO

-- Create LiveClasses table
IF OBJECT_ID('dbo.LiveClasses', 'U') IS NULL
BEGIN
	CREATE TABLE dbo.LiveClasses
	(
		Id INT IDENTITY(1, 1) NOT NULL PRIMARY KEY,
		CourseId INT NOT NULL,
		LessonId INT NULL,
		Title NVARCHAR(200) NOT NULL,
		Description NVARCHAR(2000) NULL,
		ScheduledDateTime DATETIME2 NOT NULL,
		DurationMinutes INT NULL,
		MaxParticipants INT NULL,
		ZoomMeetingId NVARCHAR(100) NULL,
		JoinUrl NVARCHAR(MAX) NULL,
		StartUrl NVARCHAR(MAX) NULL,
		RecordingUrl NVARCHAR(MAX) NULL,
		RecordingDurationSeconds BIGINT NULL,
		Status NVARCHAR(20) NOT NULL DEFAULT 'Scheduled',
		IsRecordingEnabled BIT NOT NULL DEFAULT 1,
		IsRecordingPublic BIT NOT NULL DEFAULT 1,
		ActualStartTime DATETIME2 NULL,
		ActualEndTime DATETIME2 NULL,
		InstructorId INT NOT NULL,
		CreatedAt DATETIME2 NOT NULL,
		UpdatedAt DATETIME2 NULL,
		CONSTRAINT FK_LiveClasses_Courses_CourseId FOREIGN KEY (CourseId) REFERENCES dbo.Courses(Id) ON DELETE CASCADE,
		CONSTRAINT FK_LiveClasses_AspNetUsers_InstructorId FOREIGN KEY (InstructorId) REFERENCES dbo.AspNetUsers(Id),
		CONSTRAINT FK_LiveClasses_Lessons_LessonId FOREIGN KEY (LessonId) REFERENCES dbo.Lessons(Id) ON DELETE SET NULL
	);
END
GO

-- Create LiveClassAttendances table
IF OBJECT_ID('dbo.LiveClassAttendances', 'U') IS NULL
BEGIN
	CREATE TABLE dbo.LiveClassAttendances
	(
		Id INT IDENTITY(1, 1) NOT NULL PRIMARY KEY,
		LiveClassId INT NOT NULL,
		UserId INT NOT NULL,
		JoinedAt DATETIME2 NULL,
		LeftAt DATETIME2 NULL,
		DurationMinutes INT NULL,
		Status NVARCHAR(20) NOT NULL DEFAULT 'Pending',
		CreatedAt DATETIME2 NOT NULL,
		UpdatedAt DATETIME2 NULL,
		CONSTRAINT FK_LiveClassAttendances_LiveClasses_LiveClassId FOREIGN KEY (LiveClassId) REFERENCES dbo.LiveClasses(Id) ON DELETE CASCADE,
		CONSTRAINT FK_LiveClassAttendances_AspNetUsers_UserId FOREIGN KEY (UserId) REFERENCES dbo.AspNetUsers(Id) ON DELETE CASCADE
	);
END
GO

-- Create LiveClassRecordings table
IF OBJECT_ID('dbo.LiveClassRecordings', 'U') IS NULL
BEGIN
	CREATE TABLE dbo.LiveClassRecordings
	(
		Id INT IDENTITY(1, 1) NOT NULL PRIMARY KEY,
		LiveClassId INT NOT NULL,
		ExternalRecordingId NVARCHAR(100) NULL,
		RecordingUrl NVARCHAR(MAX) NOT NULL,
		DownloadUrl NVARCHAR(MAX) NULL,
		DurationSeconds BIGINT NULL,
		FileSizeBytes BIGINT NULL,
		Format NVARCHAR(20) NULL,
		IsPublic BIT NOT NULL DEFAULT 1,
		IsDownloadable BIT NOT NULL DEFAULT 0,
		ExpiresAt DATETIME2 NULL,
		Provider NVARCHAR(50) NULL DEFAULT 'Zoom',
		TranscriptUrl NVARCHAR(MAX) NULL,
		ThumbnailUrl NVARCHAR(MAX) NULL,
		Status NVARCHAR(20) NOT NULL DEFAULT 'Processing',
		AvailableAt DATETIME2 NULL,
		CreatedAt DATETIME2 NOT NULL,
		UpdatedAt DATETIME2 NULL,
		CONSTRAINT FK_LiveClassRecordings_LiveClasses_LiveClassId FOREIGN KEY (LiveClassId) REFERENCES dbo.LiveClasses(Id) ON DELETE CASCADE
	);
END
GO

-- Create indexes for performance
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_Lessons_LiveClassId' AND object_id = OBJECT_ID('dbo.Lessons'))
	CREATE INDEX IX_Lessons_LiveClassId ON dbo.Lessons(LiveClassId);

IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_LiveClasses_CourseId' AND object_id = OBJECT_ID('dbo.LiveClasses'))
	CREATE INDEX IX_LiveClasses_CourseId ON dbo.LiveClasses(CourseId);

IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_LiveClasses_InstructorId' AND object_id = OBJECT_ID('dbo.LiveClasses'))
	CREATE INDEX IX_LiveClasses_InstructorId ON dbo.LiveClasses(InstructorId);

IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_LiveClasses_ScheduledDateTime' AND object_id = OBJECT_ID('dbo.LiveClasses'))
	CREATE INDEX IX_LiveClasses_ScheduledDateTime ON dbo.LiveClasses(ScheduledDateTime);

IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_LiveClassAttendances_LiveClassId_UserId' AND object_id = OBJECT_ID('dbo.LiveClassAttendances'))
	CREATE UNIQUE INDEX IX_LiveClassAttendances_LiveClassId_UserId ON dbo.LiveClassAttendances(LiveClassId, UserId);

IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_LiveClassRecordings_LiveClassId' AND object_id = OBJECT_ID('dbo.LiveClassRecordings'))
	CREATE INDEX IX_LiveClassRecordings_LiveClassId ON dbo.LiveClassRecordings(LiveClassId);
GO

PRINT 'Live Class Feature tables created successfully!';
-- ===== LIVE CLASS FEATURE (Phase 4) =====
-- Add LiveClassId column to Lessons table
ALTER TABLE [dbo].[Lessons] ADD [LiveClassId] [int] NULL;
GO

-- Create LiveClasses table
IF OBJECT_ID('dbo.LiveClasses', 'U') IS NULL
BEGIN
	CREATE TABLE dbo.LiveClasses
	(
		Id INT IDENTITY(1, 1) NOT NULL PRIMARY KEY,
		CourseId INT NOT NULL,
		LessonId INT NULL,
		Title NVARCHAR(200) NOT NULL,
		Description NVARCHAR(2000) NULL,
		ScheduledDateTime DATETIME2 NOT NULL,
		DurationMinutes INT NULL,
		MaxParticipants INT NULL,
		ZoomMeetingId NVARCHAR(100) NULL,
		JoinUrl NVARCHAR(MAX) NULL,
		StartUrl NVARCHAR(MAX) NULL,
		RecordingUrl NVARCHAR(MAX) NULL,
		RecordingDurationSeconds BIGINT NULL,
		Status NVARCHAR(20) NOT NULL DEFAULT 'Scheduled',
		IsRecordingEnabled BIT NOT NULL DEFAULT 1,
		IsRecordingPublic BIT NOT NULL DEFAULT 1,
		ActualStartTime DATETIME2 NULL,
		ActualEndTime DATETIME2 NULL,
		InstructorId INT NOT NULL,
		CreatedAt DATETIME2 NOT NULL,
		UpdatedAt DATETIME2 NULL,
		CONSTRAINT FK_LiveClasses_Courses_CourseId FOREIGN KEY (CourseId) REFERENCES dbo.Courses(Id) ON DELETE CASCADE,
		CONSTRAINT FK_LiveClasses_AspNetUsers_InstructorId FOREIGN KEY (InstructorId) REFERENCES dbo.AspNetUsers(Id),
		CONSTRAINT FK_LiveClasses_Lessons_LessonId FOREIGN KEY (LessonId) REFERENCES dbo.Lessons(Id) ON DELETE SET NULL
	);
END
GO

-- Create LiveClassAttendances table
IF OBJECT_ID('dbo.LiveClassAttendances', 'U') IS NULL
BEGIN
	CREATE TABLE dbo.LiveClassAttendances
	(
		Id INT IDENTITY(1, 1) NOT NULL PRIMARY KEY,
		LiveClassId INT NOT NULL,
		UserId INT NOT NULL,
		JoinedAt DATETIME2 NULL,
		LeftAt DATETIME2 NULL,
		DurationMinutes INT NULL,
		Status NVARCHAR(20) NOT NULL DEFAULT 'Pending',
		CreatedAt DATETIME2 NOT NULL,
		UpdatedAt DATETIME2 NULL,
		CONSTRAINT FK_LiveClassAttendances_LiveClasses_LiveClassId FOREIGN KEY (LiveClassId) REFERENCES dbo.LiveClasses(Id) ON DELETE CASCADE,
		CONSTRAINT FK_LiveClassAttendances_AspNetUsers_UserId FOREIGN KEY (UserId) REFERENCES dbo.AspNetUsers(Id) ON DELETE CASCADE
	);
END
GO

-- Create LiveClassRecordings table
IF OBJECT_ID('dbo.LiveClassRecordings', 'U') IS NULL
BEGIN
	CREATE TABLE dbo.LiveClassRecordings
	(
		Id INT IDENTITY(1, 1) NOT NULL PRIMARY KEY,
		LiveClassId INT NOT NULL,
		ExternalRecordingId NVARCHAR(100) NULL,
		RecordingUrl NVARCHAR(MAX) NOT NULL,
		DownloadUrl NVARCHAR(MAX) NULL,
		DurationSeconds BIGINT NULL,
		FileSizeBytes BIGINT NULL,
		Format NVARCHAR(20) NULL,
		IsPublic BIT NOT NULL DEFAULT 1,
		IsDownloadable BIT NOT NULL DEFAULT 0,
		ExpiresAt DATETIME2 NULL,
		Provider NVARCHAR(50) NULL DEFAULT 'Zoom',
		TranscriptUrl NVARCHAR(MAX) NULL,
		ThumbnailUrl NVARCHAR(MAX) NULL,
		Status NVARCHAR(20) NOT NULL DEFAULT 'Processing',
		AvailableAt DATETIME2 NULL,
		CreatedAt DATETIME2 NOT NULL,
		UpdatedAt DATETIME2 NULL,
		CONSTRAINT FK_LiveClassRecordings_LiveClasses_LiveClassId FOREIGN KEY (LiveClassId) REFERENCES dbo.LiveClasses(Id) ON DELETE CASCADE
	);
END
GO

-- Create indexes for performance
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_Lessons_LiveClassId' AND object_id = OBJECT_ID('dbo.Lessons'))
	CREATE INDEX IX_Lessons_LiveClassId ON dbo.Lessons(LiveClassId);

IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_LiveClasses_CourseId' AND object_id = OBJECT_ID('dbo.LiveClasses'))
	CREATE INDEX IX_LiveClasses_CourseId ON dbo.LiveClasses(CourseId);

IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_LiveClasses_InstructorId' AND object_id = OBJECT_ID('dbo.LiveClasses'))
	CREATE INDEX IX_LiveClasses_InstructorId ON dbo.LiveClasses(InstructorId);

IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_LiveClasses_ScheduledDateTime' AND object_id = OBJECT_ID('dbo.LiveClasses'))
	CREATE INDEX IX_LiveClasses_ScheduledDateTime ON dbo.LiveClasses(ScheduledDateTime);

IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_LiveClassAttendances_LiveClassId_UserId' AND object_id = OBJECT_ID('dbo.LiveClassAttendances'))
	CREATE UNIQUE INDEX IX_LiveClassAttendances_LiveClassId_UserId ON dbo.LiveClassAttendances(LiveClassId, UserId);

IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_LiveClassRecordings_LiveClassId' AND object_id = OBJECT_ID('dbo.LiveClassRecordings'))
	CREATE INDEX IX_LiveClassRecordings_LiveClassId ON dbo.LiveClassRecordings(LiveClassId);
GO

PRINT 'Live Class Feature tables created successfully!';
